<html>

<body>

<div class="header">
  <div class="container">
      <h1>My Notes 2 U!</h1>
      <img src="http://www.professorstring.com/images/Prof_Author_Logo.jpg">
  </div>
</div>

<% @mynotes.each do |n| %> 
<div class="mynote"> 
  <p class="content"><%= n.content %></p> 
  <p class="time"><%= n.created_at %></p> 
</div> 
<% end %>
<%= link_to 'New Message', "mynotes/new" %>

 </body>
</html>