<%= form_for(@mynotes) do |f| %>  
  <div class="field"> 
    <%= f.label :mynote %><br> 
    <%= f.text_area :content %> 
  </div> 
  <div class="actions"> 
    <%= f.submit "Create" %> 
  </div> 
<% end %>